<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>airH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E19F67E11FF1E92A00424666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E19F67FB1FF1E92A00424666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E19F68061FF1E92A00424666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
